@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fff;
  --bg-primary: #000;
  --bg-secondary: #f4f4f4
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  color: var(--foreground);
  background: var(--bg-primary);
}

main{
  background-color: var(--bg-secondary);
}
