@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-white: #fff;
  --foreground-black: #000;
  --bg-primary: #000;
  --bg-secondary: #f4f4f4
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  color: var(--foreground);
  background: var(--bg-primary);
}

main{
  color: var(--foreground-black);
  background-color: var(--bg-secondary);
}



h3 { 
    font-weight: 800;
    font-stretch: normal;
    font-size: 26px;
    line-height: 1;
}
